<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <table class="table table-bordered text-center table-light table-striped mt-5">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Username</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>Details</th>
                        </tr>
                        @for (item of usersList; track $index) {
                        <tr class="py-5">
                            <td>{{item.id}}</td>
                            <td>{{item.username}}</td>
                            <td>{{item.age}}</td>
                            <td>{{item.address}}</td>
                            <td><a class="btn btn-outline-primary" routerLink="{{item.id}}"
                                    routerLinkActive="text-white" [routerLinkActiveOptions]="{exact:true}">Details</a>
                            </td>
                        </tr>
                        }
                        @empty {
                        <tr>
                            <td colspan="5">No data</td>
                        </tr>
                        }

                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>